# Dependencies
node_modules/
package-lock.json

# Environment variables


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
dist/
build/

# Uploads (if you want to exclude uploaded files)
# uploads/

# Archive files
*.rar
*.zip

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


